#main {
    display: flex;
    width: 100%;
    height: 100%;
}
body, html {
    overflow: hidden;
    height: 100%;
}
#parsed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
#parsed iframe {
    height: 100%;
}

#cvparsedmodal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
#cvparsedmodal #modal {
    background-color: white;
    min-width: 300px;
    min-height: 200px;
    max-width: 80%;
}

#cvparsedmodal.close {
    display: none;
}

.bi {
    pointer-events: none;
}

#jsoneditor {
    position: absolute;
    z-index: 1;
    right: 16px;
    width: 600px;
    transform: translateX(105%);
    transition: transform 0.2s;
}

#jsoneditor-actions {
    position: relative;
}

#jsoneditor-actions #show-editor {
    position: absolute;
    transform: translateX(-110%);
}

#jsoneditor.show {
    transform: translateX(0);
}

#jsoneditor.show #jsoneditor-actions #show-editor {
    display: none;
}
